<div class="container">
    <h1>Active Products</h1>
    <a class="position-fixed btn btn-primary" href="Create" style="bottom: 20px; right: 20px">Add new Product</a>
    <table class="my-5 table">
        <thead class="fw-bold">
            <tr>
                <td>Image</td>
                <td>Name</td>
                <td>Price</td>
                <td>Number</td>
                <td>Categories</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            {0}
        </tbody>
    </table>
</div>