<li class="nav-item">
    <div class="dropdown">
        <button class="nav-link dropdown-toggle" type="button" id="userActions" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-user" aria-hidden="true"></i>
            {0}
        </button>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userActions">
            <li><a class="dropdown-item" href="../../User/Edit"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a></li>
            <li><a class="dropdown-item" href="../../User/OrderHistory"><i class="fa fa-shopping-cart"></i> Order history</a></li>
            <li><a class="dropdown-item" href="../../User/Logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
        </ul>
    </div>
</li>    