<form method="post">
    <div class="container mt-5">
        <h1>Edit Category</h1>
        <hr>
        <div class="form-group">
            <label for="name"><b>Name:</b></label>
            <input type="text" class="form-control" value="{0}" placeholder="Name" name="name" id="name">
            {1}
        </div>
        <div class="form-group">
            <label for="description"><b>Description:</b></label>
            <textarea class="form-control" placeholder="Description" name="description" id="description" rows="4">{2}</textarea>
            {3}
        </div>
        <hr>
        <button type="submit" class="btn btn-dark">Confirm</button>
        <a href="../Index" class="btn btn-info float-end">Show all</a>
    </div>
</form>