<body>
    <div class="container">
        <div class="centered">
            <h2>Hello, {0}!</h2>
            <p>Thanks for your purchase in Eshop!</p>
            <h4>Order number №{1}</h4>
            <p class="info">{2}</p>
        </div>

        <p class="info">Ordered products</p>
        <hr>
        <table>
            <tbody>
                <tr>
                    {3}
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">Total</td>
                    <td>{4}</td>
                </tr>
            </tfoot>
        </table>
        <hr>
        <p>Your keys are in an attached txt file</p>
    </div>
</body>
</html>