<div class="card mt-3 w-100">
    <div class="row g-0">
        <div class="col-md-2">
            <img src="{0}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="card-body col-md-10">
            <h5 class="card-title">{1}</h5>
            <p class=" position-absolute bottom-0">{2} x {3}</p>
            <div class="d-flex justify-content-end position-absolute end-0 bottom-0 gap-1"
                 style="margin: 10px">
                <a class="btn btn-light border" href="Add/{4}">add</a>
                <a class="btn btn-light border" href="Remove/{4}">remove</a>
            </div>
        </div>
    </div>
</div>